<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Broadgame</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<div id="app" class="container">


    <div class="row justify-content-center" v-if="isReger">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Регистрация игрока</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" v-model="email" required>
                    </div>
                    <div class="form-group">
                        <label for="login">Логин</label>
                        <input type="text" class="form-control" id="login" v-model="login" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" v-model="password" required>
                    </div>
                    <div v-if="error" class="alert alert-danger">{{ error }}</div>
                    <button class="btn btn-primary btn-block" @click="registerUser">Зарегистрироваться</button>
                   <div v-if="success" class="alert alert-success">{{success}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" v-if="isAuth">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Авторизация пользователя</h3>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="login">Логин</label>
                    <input type="text" class="form-control" id="login" v-model="login" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" @keyup.enter="loginUser()" id="password" v-model="password" required>
                  </div>
                    <div v-if="error" class="alert alert-danger">{{ error }}</div>
                    <div v-if="success" class="alert alert-success">{{success}}</div>
                    <button class="btn btn-primary btn-block" @click="loginUser">Войти</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container" v-if="!isAuth">
        <div class="d-flex align-items-center flex-wrap profile-info-container">
            <img src="logo.jpg" alt="Фото профиля" class="img-fluid mr-3 profile-image">
            <div class="profile-info-text flex-grow-1">
                <div><b>Логин:</b> <span class="text-success"> {{ login }}</span></div>
                <div><b>Кол-во игр:</b> <span class="text-success"> {{ countGames }}</span></div>
                <div><b>Кол-во побед:</b> <span class="text-success"> {{ countWins }}</span></div>
                <div><b>Mail:</b> <span class="text-success"> {{ email }}</span></div>
                <div class="mt-3">
                    <button class="btn btn-danger exit-button" @click="exitUser()">Выйти</button>
                </div>
            </div>
        </div>

        <div class="profile-table table-responsive" v-if="usersArray.length > 0">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th><i class="fas fa-user"></i> Логин</th>
                        <th><i class="fas fa-gamepad"></i> Кол-во игр</th>
                        <th><i class="fas fa-trophy"></i> Кол-во побед</th>
                        <th><i class="fas fa-star"></i> Рейтинг</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item) in usersArray">
                        <td>{{ item.login }}</td>
                        <td>{{ item.allGames }}</td>
                        <td>{{ item.allWins }}</td>
                        <td>{{ item.allScore }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        <div class="profile-table table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Колонка A</th>
                        <th>Колонка B</th>
                        <th>Колонка C</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Значение A1</td>
                        <td>Значение B1</td>
                        <td>Значение C1</td>
                    </tr>
                    <tr>
                        <td>Значение A2</td>
                        <td>Значение B2</td>
                        <td>Значение C2</td>
                    </tr>
                    <tr>
                        <td>Значение A3</td>
                        <td>Значение B3</td>
                        <td>Значение C3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>

<style>
    body {
        background-color: #f8f9fa;
    }
    .container {
        margin-top: 50px;
    }
    .navbar-brand img {
        max-height: 30px; /* Задайте максимальную высоту иконки */
        margin-right: 5px; /*  Отступ справа от иконки */
    }
    .site-title {
        font-family: cursive;
        font-size: 16px;
    }
    /* Дополнительные стили для наглядности */
    .profile-info-container {
        margin-bottom: 20px;
    }
    .profile-info-container img {
        max-width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .profile-info-text {
        padding: 10px;
    }
    .exit-button {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .exit-button:hover{
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .profile-table {
        margin-bottom: 20px;
    }
    @media (max-width: 767.98px) {
        .profile-info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .profile-info-container img {
            margin-bottom: 20px;
        }
        .profile-table {
            width: 100% !important;
        }
    }
</style>

<script>
    new Vue({
        el: '#app',
        data: {
            // для регистрации
            email: '',
            login: '',
            password: '',
            error: '',
            success: '',
            isReger: false,
            

            // для атворизации
            AuthLogin: "",
            AuthPassword: "",
            AuthError: "",
            AuthSuccess: "",
            isAuth: true,

            // для личного кабинета юзера
            countWins: 0,
            countGames: 0,
            userScore: 0,
            usersArray: [],
        },
        methods: {
            async registerUser() {
                this.success = ""
                this.error = "";
                try {
                    const response = await axios.post('http://localhost:5000/users', {
                        email: this.email,
                        login: this.login,
                        password: this.password
                    });
                    this.success = "Пользователь успешно зарегистрирован";
                    this.email = ""
                    this.login = ""
                    this.password = ""
                } catch (error) {
                    console.log(error)
                    if(error.response && error.response.data && error.response.data.message) {
                        this.error = error.response.data.message;
                    } else {
                        this.error = "Произошла ошибка";
                    }
                }
            },
            async getAllUsers() {
                let usersArray = []
                try {
                    const response = await axios.get("http://localhost:5000/users")
                    //console.log(response.data)
                    
                    for (let item in response.data) {
                        usersArray.push({
                            "email": response.data[item]["email"],
                            "login": response.data[item]["login"],
                            "allGames": response.data[item]["userStats"]["countGames"],
                            "allWins": response.data[item]["userStats"]["countWins"],
                            "allScore": response.data[item]["userStats"]["scoreTotal"]
                        })
                    }

                    this.usersArray = usersArray.sort((a, b) => b.allScore - a.allScore)
                    //console.log(this.usersArray)

                } catch (error) {
                    console.log(error)
                }
            },
            exitUser() {
                this.login = ""
                this.password = ""
                this.email = ""
                this.isAuth = true
                this.usersArray = []
            },
            async loginUser() {
                this.error = "";
                this.success = "";
                try {
                    const response = await axios.post('http://localhost:5000/login', {
                        login: this.login,
                        password: this.password
                    });
                    this.success = "Авторизация прошла успешно";
                    console.log("Авторизация успешна:", response.data);
                    this.isAuth = false

                    this.email = response.data["email"]
                    this.countWins = response.data["userStats"]["countWins"]
                    this.countGames = response.data["userStats"]["countGames"]
                    this.userScore = response.data["userStats"]["scoreTotal"]
                    
                    this.getAllUsers()

                } catch (error) {
                   console.log(error)
                    if(error.response && error.response.data && error.response.data.message) {
                      this.error = error.response.data.message;
                    } else {
                      this.error = "Произошла ошибка";
                    }
                }
            }
        },
        beforeMount() {
            //this.getAllUsers()
        }
    });
</script>